fastapi>=0.68.0,<=0.79.0
FastAPI-SQLAlchemy>=0.2.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.18.3
SQLAlchemy>=1.4.39
requests>=2.21.0
celery>=5.2.6
passlib[bcrypt]>1.7.3
psycopg2>2.9.2
python-jose>=3.3.0
python-multipart